html {
  background-color: #EFF3FF;
}

li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

img {
  object-fit: cover;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}


@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Thin.woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#preloader video {
  width: 100%;
  height: auto;
}

#main-content {
  display: none;
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 1s ease-in-out; /* Плавный переход */
}

#main-content.visible {
  opacity: 1; /* Полная непрозрачность */
}

.header {}

.header__navigation {
  padding-inline: 24px;
  padding-block: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.header__navigation-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.header__navigation-item {}

.header__navigation-item--friends {}

.header__navigation-item--global {}

.header__logo {}

.header__navigation-item--archive {}

.header__navigation-item--profile {}

.gratitude {
  background-color: #fff;
  border-radius: 28px;
  padding-block: 28px;
  padding-inline: 47px;
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'Manrope', sans-serif;
}

.gratitude__title {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 400;
  text-align: left;
}

.gratitude__content {
  background-color: #EFF3FF;
  padding: 10px;
  border-radius: 14px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gratitude__input-wrapper {
  display: flex;
  align-items: center;
}

.gratitude__file-label {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
}


.gratitude__textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 7px;
  background-color: #EFF3FF;
  font-size: 24px;
}

#gratitude-input {
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
}

#gratitude-input:focus {
  border: none;
  box-shadow: none;
}

.gratitude__images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gratitude__images img {
  border-radius: 10px;
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.gratitude__footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.gratitude__save-btn {
  align-self: flex-start;
}

.gratitude__public-option,
.gratitude__friend-option,
.gratitude__private-option {
  align-self: center;
}

.gratitude__save-btn {
  font-family: 'Manrope';
  font-weight: 800;
  background-color: #BDCCFF;
  border: none;
  box-shadow: 5px 6px 0px 0px rgb(232, 237, 255);
  padding: 22px 35px;
  color: white;
  font-size: 24px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

.gratitude__save-btn:hover {
  background-color: #90aaff;
}

.gratitude__public-option,
.gratitude__friend-option,
.gratitude__private-option {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #000;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.gratitude__checkbox {
  appearance: none;
  width: 48px;
  height: 48px;
  border: 2px solid #9BB2FF;
  border-radius: 14px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: border-color 0.2s ease;
}

.gratitude__checkbox::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.gratitude__checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 6px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.gratitude__checkbox:checked::before {
  background-color: #BDCCFF;
}

.gratitude__checkbox:checked::after {
  opacity: 1;
}

.gratitude__public-label,
.gratitude__friend-label,
.gratitude__private-label {
  font-weight: 200;
  cursor: pointer;
}


.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



.input_modal {
  border: 0px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
  background-color: #EFF3FF;
  height: 56px;
  box-shadow: 5px 6px 0px #C1CFFF;
  width: 80%;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  padding-left: 1rem;
}


.suggestions {
  border: 1px solid #ccc;
  border-radius: 14px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #EFF3FF;
  z-index: 1000;
  width: 23%;
  box-shadow: 5px 6px 0px #C1CFFF;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  padding: 0.5rem;
  margin-top: 3%;
}

.h1_find_friends {
  font-family: 'Manrope', sans-serif;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.global {
  font-family: 'Manrope', sans-serif;

  margin-inline: 22px;
  padding: 35px 35px 100px 35px;
  border-radius: 22px;
  background-color: #fff;
}

.globel-title {}

.global_gratitude {

  margin-block: 20px;
}

.global__gratitude_content {
  display: flex;
  background-color: #EFF3FF;
  padding: 27px;
  border-radius: 14px;
  box-shadow: 5px 6px #E8EDFF;

}

.global_gratitude_image {
  object-fit: contain;
}

.global__gratitude_title {
  margin-block: 2px;
}

.global__gratitude_description {
  margin-block: 2px;
}

.global__gratitude_text {
  margin-left: 10px;
}

.gratitude_image {
  width: 300px;
  height: 150px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}


.profile {
  display: flex;
  margin-inline: 115px;
  height: 929px;
  background-color: white;
  border-radius: 28px;

}

.profile-header {
  font-family: 'Manrope', sans-serif;
  background-size: cover;
  background-color: #BDCCFF;
  background-position: center;
  border-radius: 14px;
  color: white;
  position: relative;
  height: 96%;
  width: 94%;
  box-sizing: border-box;
  margin-left: 27px;
  margin-top: 34px;
  margin-bottom: 7px;
}

.profile-top-elements {
  display: flex;
  flex-direction: row;
  padding: 20px 30px 0px 30px;
  gap: 50%;
}

.left-side,
.profile-top-elements,
.icon-hide-profile {
  transition: all 0.3s ease;
  /* Устанавливаем плавный переход на все свойства */
}

.icon-hide-profile.flipped {
  transform: scaleX(-1);
  /* Отзеркаливание при добавлении класса */
}

.profile-header-text {
  font-weight: 600;
  z-index: 2;
  top: 20px;
  left: 20px;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.profile-header-name,
.profile-header-username {
  text-align: center;
  margin: 0;
  color: #000;
  margin-top: 15px;
}

.profile-header-name {
  font-size: 32px;
  font-weight: 600;
}

.profile-header-username {
  font-size: 24px;
  z-index: 2;
  margin: 0;
  color: #000000;
}

.profile-header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  margin-left: 30px;
}

.profile_img_big {
  width: 130px;
  height: 130px;
  border-radius: 100px;
}

.profile-buttons {
  margin-top: 20px;
}

.profile-header-name {
  z-index: 2;
  font-size: 32px;
  margin: 0;
}

.profile-header-username {
  font-weight: 200;
}


.edit-profile {
  border: none;
  border-radius: 15px;
  width: 240px;
  height: 70px;
  background-color: #698BFF;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

@keyframes flipIcon {
  0% {
      transform: scale(1) rotate(0deg);
      opacity: 1;
  }
  50% {
      transform: scale(0) rotate(90deg);
      opacity: 0;
  }
  100% {
      transform: scale(1) rotate(0deg);
      opacity: 1;
  }
}

/* Применяем анимацию к иконке при смене */
.toggle-password img.animating {
  animation: flipIcon 0.4s ease-in-out;
}

.edit-profile.passive {
  background-color: #A9BCFF !important;
}

.edit- {
  margin: 30px;
  padding-inline: 23px;
  padding-block: 18px;
  border: none;
  background-color: #F0F0F0;
  border-radius: 15px;
  width: 240px;
  font-size: 24px;
}

.h2-info-user {
  font-family: 'Manrope', sans-serif;
  padding: 10px;
  font-size: 32px;

}


.profile-daily-gratitude {
  font-family: 'Manrope', sans-serif;
  padding: 30px;

}

.daily-gratitude-title {
  font-family: 'Manrope', sans-serif;
  margin-block: 4px;
  font-size: 32px;
}


.daily-gratitude-description {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  padding: 20px;
  margin: 0;
  color: white;
  background-color: #698BFF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.profile-image {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.left-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.left-side>* {
  flex-shrink: 0;
}

.right-side {
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 7px;
}

.info-about-user {
  height: 30%;
  background-color: #BDCCFF;
  border-radius: 14px;
  box-sizing: border-box;
  margin-right: 27px;
  margin-top: 34px;
  margin-left: 7px;
  margin-bottom: 7px;
  font-family: 'Manrope';
  padding-left: 20px;

}

.profile-user-content {
  height: 64.5%;
  background-color: #BDCCFF;
  box-sizing: border-box;
  border-radius: 14px;
  margin-right: 27px;
  overflow-y: scroll;

  margin-left: 7px;


}

.profile-user-content::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: #BDCCFF;
}

.profile-user-content::-webkit-scrollbar {
  width: 12px;
}

.profile-user-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: #698BFF;
}

.text-about-user {
  font-family: 'Manrope';
  font-size: 24px;
  background-color: #698BFF;
  border-radius: 12px;
  color: white;
  margin-right: 20px;

}

.form-edit {
  display: flex;
  padding-inline: 20px;
  padding-block: 20px;
  flex-direction: column;
  gap: 20px;
}

.form-edit label {
  font-size: 20px;
}

.text-about-user p {
  padding-inline: 20px;
  padding-block: 15px;
  margin: 0;
}

.modal-edit {
  font-family: 'Manrope';
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-edit-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #888;
  width: 80%;
}

.input-modal-edit {
  border: 0px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
  background-color: #EFF3FF;
  height: 50px;
  box-shadow: 5px 6px 0px #C1CFFF;
  width: 400px;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  padding-left: 1rem;
}

.input-modal-edit2 {
  color: #686868;
  border: 0px solid #b53f3f;
  border-radius: 14px;
  box-sizing: border-box;
  background-color: #cfdbff;
  height: 100px;
  box-shadow: 5px 6px 0px #C1CFFF;
  width: 400px;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  padding: 20px;
}

.modal-edit-names {
  display: flex;
  flex-direction: row;
}

.modal-edit-input {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.submit-edit {
  background-color: #BDCCFF;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  width: 300px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.leave-btn {
  background-color: white;
  color: red;
  border: solid 2px red;
  border-radius: 12px;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 15px;
  width: 240px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-inline: 20px;
}

.toggle-buttons {
  display: flex;
  gap: 55px;
}

.toggle-button {
  background-color: #BDCCFF;
  color: white;
  cursor: pointer;
  width: 45%;
  height: 60px;
  border-radius: 14px;
  border: none;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;

}


#calendar-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.weekday {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

#calendar div {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

#calendar-title {
  font-family: 'Manrope', sans-serif;
}

#calendar div:hover {
  background-color: #e0f7fa;
}

#calendar div:active {
  background-color: #b2ebf2;
}

.flashes {
  font-family: 'Manrope', sans-serif;
}

.flash-messages {
  padding: 14px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 14px;
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: auto;

}

.message-success {
  background-color: #beffc1;
  color: rgb(5, 82, 37);
}

.message-error {
  background-color: #ffbebe;
  color: rgb(82, 5, 5);
}

#prev-month,
#next-month {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  background-color: #BDCCFF;
  border: none;
  padding: 20px;
  color: white;
  font-size: 24px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s;
  height: 78px;
  text-transform: uppercase;
}

#prev-month:hover,
#next-month:hover {
  background-color: #005f7f;
}

h2 {
  margin: 10px 0;
  font-size: 24px;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 28px;
}


.friends-search {
  display: flex;
}

.friends-searach__icon {}

.friends-search__input {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  border: none;
  width: 600px;
  font-size: 20px;
  border-radius: 12px;
}

.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.friends-list__number {}

.friends-list__friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.friend_img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.friend_title {
  font-weight: 300;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.friend_title .name {
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.friend_title .username {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #858585;
}

.delete-friend {
  background-color: transparent;
  border: 0;
  margin-left: 80px;

}

.header__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.header__links a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  line-height: 54.64px;
  width: 6em;
}

.header__links a.active {
  font-weight: bold;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.btn-add-friend {
  /* Вертикальные и горизонтальные отступы внутри кнопки */
  border: none;
  /* Убирает стандартную рамку */
  border-radius: 15px;
  /* Закругленные углы */
  width: 240px;
  /* Ширина кнопки */
  font-size: 24px;
  /* Размер шрифта */
  font-family: 'Manrope', sans-serif;
  /* Шрифт */
  font-weight: 600;
  /* Жирность шрифта */
  /* Цвет текста */
  cursor: pointer;
  /* Указывает на то, что элемент кликабельный */
  transition: background-color 0.3s ease;
  /* Плавный переход цвета фона */
}

.btn-add-friend:not(:disabled):hover {
  background-color: #0056b3;
  /* Темный цвет при наведении */
}

.btn-add-friend:not(:disabled):active {
  background-color: #004085;
  /* Более темный цвет при нажатии */
}

/* Стили для кнопки "Вже друзі" */
.btn-add-friend:disabled {
  background-color: #F0F0F0;
  /* Цвет фона кнопки "Вже друзі" */
  color: #000;
  /* Цвет текста */
  cursor: not-allowed;
  /* Указывает, что кнопка недоступна */
  opacity: 0.65;
  /* Полупрозрачность для отключенной кнопки */
}

#toggle-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-links {
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.toggle-links li {
  position: relative;
}

.toggle-links a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.toggle-links a.active {
  font-weight: bold;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: #000;
  transition: transform 0.5s ease, width 0.5s ease;
  transform: translateX(0);
}


.fade {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.global__gratitude_text {
  display: flex;
  flex-direction: column;
  /* Размещаем элементы в колонку */
  align-items: flex-start;
  /* Выровнять элементы в начале по горизонтали */
  position: relative;
  /* Для относительного позиционирования */
}

.gratitude_date {
  text-align: right;
  /* Выравнивание текста по правому краю */
  color: #888;
  /* Цвет текста, можно изменить по желанию */
  cursor: pointer;
  /* Указатель при наведении */
  margin-top: 10px;
  /* Отступ сверху */
  position: relative;
  /* Необходимо для позиционирования tooltip */
}

.gratitude_date:hover::after {
  content: attr(data-full-date);
  /* Показать точную дату при наведении */
  position: absolute;
  left: 0;
  top: 100%;
  /* Позиционирование ниже текста */
  background: rgba(0, 0, 0, 0.8);
  /* Фоновый цвет tooltip */
  color: #fff;
  /* Цвет текста в tooltip */
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  /* Запрет на перенос строк */
  z-index: 10;
  /* Убедитесь, что tooltip отображается поверх других элементов */
  opacity: 0;
  /* Начальная прозрачность */
  transition: opacity 0.3s ease 0.5s;
  /* Плавное появление и задержка */
}

.gratitude_date:hover::after {
  opacity: 1;
}

.profile-description-container {
  margin-top: 10px;
  /* Отступ сверху */
  border-radius: 10px;
  /* Закругление углов */
}

.profile-description {
  font-size: 21px;
  color: #1b1b1b;
  font-weight: 300;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0px;
}

.profile-description:hover {
  color: #698BFF;
  /* Цвет при наведении */
}

.submit-edit {
  background-color: #698BFF;
  /* Цвет кнопки */
  color: white;
  /* Цвет текста кнопки */
  border: none;
  /* Без границы */
  padding: 10px 15px;
  /* Внутренние отступы кнопки */
  border-radius: 5px;
  /* Закругление углов кнопки */
  cursor: pointer;
  /* Курсор в виде руки */
  margin-top: 10px;
  /* Отступ сверху */
  transition: background-color 0.3s;
  /* Плавный переход для фона */
}

.submit-edit:hover {
  background-color: #4A6ED9;
  /* Цвет кнопки при наведении */
}
