{% extends "base.html" %}

{% block title %}Профіль{% endblock %}

{% block content %}
<section class="profile">

    <div class="left-side">
        <div class="profile-header">
            <div class="profile-top-elements">
                <h1 class="profile-header-text">Профіль</h1>
                <div class="icon-hide-profile">
                    <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M39.8125 6.125H42.875V42.875H39.8125V6.125ZM17.4777 31.5223L11.9866 26.0312H33.6875V22.9688H11.9866L17.4777 17.4777L15.3125 15.3125L6.125 24.5L15.3125 33.6875L17.4777 31.5223Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
            <div class="profile-header-content">
                <img src="{{ url_for('static', filename='imagesforcss/profile-image.jpg') }}" alt="" class="profile_img_big">
                <h2 class="profile-header-name">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="profile-header-username"><span>@</span>{{ user.login }}</p>
                <div class="profile-buttons">
                    {% if is_friend %}
                    <button class="btn btn-add-friend" disabled>Вже друзі</button>
                {% else %}
                    <form method="POST" action="{{ url_for('user_profile', user_id=user.id) }}">
                        <button type="submit" class="edit-profile active btn btn-add-friend">Додати в друзі</button>
                    </form>
                {% endif %}
                <div class="profile-description-container">
                    <p id="profileDescriptionText" class="profile-description" onclick="editDescription()">
                        Опис: {{ user.description or 'Немає опису' }}
                    </p>
                    

                </div>

                </div>
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="info-about-user">
            <h2 class="h2-info-user">Інформація про користувача</h2>
            <div class="text-about-user">
                <p>Вдячностей: {{ gratitudes_count }}</p>
                <p>Друзів: {{ friends_count }}</p>
            </div>
        </div>

        <div class="profile-user-content">
            <div class="profile-daily-gratitude">
                <h2 class="daily-gratitude-title">Подяки дня</h2>
                {% if gratitudes and gratitudes|length > 0 %}
                    {% for gratitude in gratitudes %}
                        <p class="daily-gratitude-description">{{ gratitude.content }}</p>
                        {% if gratitude.image_url %}
                            <img class="gratitude_image" src="{{ url_for('static', filename=gratitude.image_url) }}" alt="Подяка дня" />
                        {% endif %}
                        {% include '_gratitude_date.html' %}
                    {% endfor %}
                {% else %}
                    <p class="daily-gratitude-description">Немає подяк, доступних для всіх.</p>
                {% endif %}
            </div>
        </div>

    </div>

</section>
{% endblock %}
